/*FOOTER INFO*/ 
    footer {
	  background-color: #fffff0;
      padding: 2px;
      
    }

/*NAVBAR INFO*/ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8d688d;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #a7a7a7;
}
