/*BODY INFO*/
body {
    background-color: #FFFFF0;
}

h1 {
    color: #115883;
}

/*NAVBAR INFO*/ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8d688d;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #a7a7a7;
}


/*FOOTER INFO*/ 
    footer {
	  background-color: #fffff0;
      padding: 2px;
      
    }

